/* 
BREAKPOINTS
0-600px: Phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
(1200px - 1800px) is where normal styles apply
>= 1800px: Big desktop
$BREAKPOINT ARGUMENT CHOICES
- phone
- tab-port
- tab-land
- desk-big
1em = 16px
*/
html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.7;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 57%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 52%;
  }
}

body {
  font-size: 1.6rem;
  position: relative;
  transition: all 0.6s;
}

body {
  font-family: "Merriweather", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
}

.font--light {
  color: #c2c2c2;
}

.font--highlight {
  color: #ffab66;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

.header {
  background-color: #1d678e;
  padding: 3rem 2rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.app {
  display: flex;
  gap: 5rem;
  height: auto;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}
@media (max-width: 75em) {
  .app {
    gap: 2rem;
  }
}

.facets, .results-container {
  padding-top: 5rem;
}

.results {
  margin-bottom: 4rem;
}

.results-container {
  width: 75%;
  padding-left: 4rem;
  border-left: 2px solid rgba(194, 194, 194, 0.2);
}
@media (max-width: 75em) {
  .results-container {
    border-left: none;
    padding-left: 0;
    width: 100%;
  }
}
.results-container__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 37.5em) {
  .results-container__header {
    margin-bottom: 4rem;
  }
}

.input {
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: 2rem;
}
.input::-moz-placeholder {
  color: #c2c2c2;
}
.input:-ms-input-placeholder {
  color: #c2c2c2;
}
.input::placeholder {
  color: #c2c2c2;
}
@media (max-width: 37.5em) {
  .input::-moz-placeholder {
    color: transparent;
  }
  .input:-ms-input-placeholder {
    color: transparent;
  }
  .input::placeholder {
    color: transparent;
  }
}

.metadata {
  position: relative;
  margin-bottom: 3rem;
}
.metadata::after {
  content: "";
  position: absolute;
  bottom: 5px;
  height: 2px;
  max-width: 100%;
  background-color: rgba(194, 194, 194, 0.2);
}
.metadata__results {
  font-weight: bold;
  font-size: 2rem;
}
.metadata__seconds {
  font-size: 1.3rem;
}

.hit {
  display: flex;
  flex-direction: row;
}
@media (max-width: 37.5em) {
  .hit {
    flex-direction: column;
    text-align: center;
  }
}
.hit:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 37.5em) {
  .hit__ratrevs {
    margin-top: 2rem;
  }
}
.hit__name {
  display: inline-block;
  margin-right: 2rem;
  line-height: 1;
}
@media (max-width: 37.5em) {
  .hit__name {
    margin-bottom: 1rem;
    display: block;
  }
}
.hit__book {
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 0.8rem 1.2rem;
  color: white;
  background-color: #da3743;
  font-weight: 700;
  text-decoration: none;
}
.hit__img {
  border-radius: 15px;
  margin-right: 2rem;
  max-height: 12rem;
}

.stars--outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.stars--outer::before {
  content: "\f006\f006\f006\f006\f006";
}
.stars--inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}
.stars--inner::before {
  content: "\f005\f005\f005\f005\f005";
  color: #ffab66;
}

.facets {
  width: 20%;
}
.facets > div {
  margin-bottom: 2rem;
}
@media (max-width: 75em) {
  .facets {
    position: relative;
    height: initial;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
.facets__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.facets__heading {
  display: inline;
  margin-right: auto;
}
.facets__reset {
  background-color: transparent;
  border: none;
  color: #1d678e;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 4px;
}
@media (max-width: 37.5em) {
  .facets__reset {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
}
.facets__facet {
  padding: 0px 10px;
  border-radius: 5px;
}
.facets__facet:nth-child(n+6):nth-child(n-0) {
  display: none;
}
.facets__facet:hover {
  background-color: #3397c5;
  color: white;
}
.facets__facet:hover span:last-child {
  color: white;
}
.facets__facet:active {
  background-color: #3397c5;
  color: white;
}
.facets__facet:active span:last-child {
  color: white;
}
@media (max-width: 37.5em) {
  .facets__facet {
    padding: 0px 2px;
  }
}
.facets__facet:has(input[type=checkbox]:checked) {
  background-color: #3397c5;
  color: white;
}
.facets__facet:has(input[type=checkbox]:checked) span:last-child {
  color: white;
}
.facets__facet input {
  display: none;
}
.facets__facet label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.facets__facet label span:last-child {
  color: #c2c2c2;
  margin-left: 1rem;
}
.facets__expand {
  color: #3397c5;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  margin-left: 4px;
  font-size: 1.2rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pagination__nav {
  color: white;
  font-size: 1.8rem;
  background-color: #3397c5;
  border: none;
  padding: 0.5rem 0.25rem;
  flex: 33%;
  cursor: pointer;
}
.pagination__cur {
  flex: 33%;
  text-align: center;
}

.sorting {
  font-family: "Work Sans", sans-serif;
  padding: 0.25rem;
}
.sorting label {
  color: #c2c2c2;
  margin-right: 1rem;
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */