html {
    height: 100%;
    font-size: 62.5%; // 16px base font font turned to 10px, to allow 1rem to be base measurement
    line-height: 1.7;
    scroll-behavior: smooth;
    overflow-x: hidden;

    @include respond(big-desktop) {
        font-size: 75%; 
    }

    @include respond(tab-land) { 
        font-size: 60%; 
    }

    @include respond(tab-port) { 
        font-size: 57%; 
    }

    @include respond(phone) {
        font-size: 52%; 
    }

}


body {
    font-size: 1.6rem;
    position: relative;
    transition: all .6s;
}