.app {
    display: flex;
    gap: 5rem;
    // overflow: hidden;
    height: auto;
    padding-bottom: 5rem;
    flex-wrap: wrap;

    @include respond(tab-land) {
        gap: 2rem;
    }

}


.facets, .results-container {
    padding-top: 5rem;
}



.results {
    margin-bottom: 4rem;
}

.results-container {
    width: 75%;
    padding-left: 4rem;
    border-left: 2px solid $border;

    @include respond(tab-land) {
        border-left: none;
        padding-left: 0;
        width: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include respond(phone) {
            margin-bottom: 4rem;
        }

    }

            
}


