.pagination {
    // text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    &__nav {
        color: white;
        font-size: 1.8rem;
        background-color: $color-selected;
        border: none;
        padding: .5rem 0.25rem;
        flex: 33%;
        cursor: pointer;

        &--next {

        }

        &--prev {

        }
    }


    &__cur {
        flex: 33%;
        text-align: center;
    }

}