// Typography
$heading-font: 'Work Sans', sans-serif;
$body-font: 'Merriweather', serif;

// Colors
$color-highlight: #1d678e;
$color-selected: #3397c5;
$color-select: #da3743;
$font-light: #c2c2c2;
$font-highlight: #ffab66;


// Border
$border: rgba($font-light, 0.2);

// Grid
$grid-width: 114rem;